.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo {
    font-size: 1.0em;
    color: #243f57;
}

.nav {
    display: flex;
    gap: 70px;
}

.nav-item {
    text-decoration: none;
    color: #e13232;
    font-size: 1em;
    transition: color 0.3s ease;
}

.nav-item:hover {
    color: #000;
}

.donate-button {
    background-color: #ff9800;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.donate-button:hover {
    background-color: #e68900;
}
