.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

:root {
  --grey: #2e2e2f;
  --red: #f13c4a;
  --white: #ffffff;
  --blue: #021422;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  scroll-behavior: smooth;
}

nav {
  width: 100%;
  background-color: var(--grey);
  /* background-image: url(/public/assets/logo.png); */
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 1rem;
}
.links {
  display: flex;
  justify-content: space-evenly;
  margin-right: 10%;
}
.links i {
  margin-right: 1.5rem;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}
.i-fb:hover {
  color: rgb(0, 68, 255);
}
.i-tw:hover {
  color: rgb(0, 166, 255);
}
.i-ln:hover {
  color: rgb(0, 68, 255);
}
.i-vn:hover {
  color: rgb(0, 255, 94);
}
.i-ig:hover {
  color: rgb(255, 0, 136);
}

